<div class="container">

    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">

        <span>
            <span>Hi,</span>
            I am 
        </span><br>
        <span>Jeet Kumar Jha</span><br>
        <Span>Full Stack Developer</Span><br><br>
        <a class="myButton" download href="../../assets/sourse/Resume (5).pdf">Download CV
           
        </a>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/images/Adobe_Express_20230225_1639420.09667838677506158.png">

    </div>
</div>