<div class="container">

    <h1>Contact</h1>

    <ul class="social-media">
        <li>
            <i class="bx bxl-gmail"></i>
        </li>
        <li>
            <a href="https://github.com/jeetjha11"><i class="bx bxl-github"></i></a>
        </li>
        <li>
            <a href="https://linkedin.com/in/jeetkrjha"><i class="bx bxl-linkedin"></i></a>
        </li>

    </ul>
    <ul class="contact-info">
        <li>Mobile:7061379426</li>
        <li>jeetkrjha@gmail.com</li>
    </ul>


</div>